@import url("foundation.css");
@import url("foundation-float.css");
@import url("foundation-prototype.css");
@import url("foundation-rtl.css");
/* Imported style sheets MUST be the first item listed. */

/* Reset styles. */

* {
    margin: 0;
    padding: 0;
}

/* Set variables. */
:root {
    --text: #ffff3d;
    --box: rgba(255, 0, 127, .40);
    --background: #00ccff;
}


/* General page element styles. */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

body { 
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; /* Safari */
}

header {
    background-color: var(--box);
    color: var(--text);
    border-bottom: 4px dotted var(--text);
}

main {
    color: var(--text);
}


/* Footer Styles */

footer {
    color: var(--text);
    background-color: var(--box);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

footer h2 {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--text);
    float: left;
}

footer a {
    text-decoration: none;
    color: var(--box);
    float: right;
}

footer div {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer div a {
    padding: 5px 10px;
    font-size: 16px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--text);
    color: var(--box);
    border-radius: 15px;
    text-shadow: none;
    border: var(--background);
    border: 2px;
    border-style: dotted;
}

footer div a:hover {
    text-shadow: 0 0 3px var(--text);
    color: var(--box);
}


/* Begin Custom Styles */
.centertext {
    text-align: center;
}

.fancy-heading {
    font-family: 'Pacifico', cursive;
}

.header-title {
    margin-bottom: 0rem;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
}

.hero-img {
    background-image: url("../images/bg_recipes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.column-container {
    background-color: var(--box);
    /* backdrop-filter: saturate(180%) blur(1rem); */
    margin: 15px;
    padding: 15px;
}

.search-prompt {
    font-size: 1.2em;
}

#youtube {
    display: none;
}

.drink-icon {
    font-size: 1.3em;
    min-height: 25px;
    padding: 1px;;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

/* Button Styles */

.btn {
    padding: 10px;
    font-size: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--text);
    color: var(--box);
    text-shadow: none;
    border: var(--background);
    border: 2px;
    border-style: dotted;
}

.search-btn {
    padding: 5px 5px;
    font-size: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--text);
    color: var(--box);
    text-shadow: none;
    border: var(--background);
    border: 2px;
    border-style: dotted;
}

.search-btn:hover {
    text-shadow: 0 0 3px var(--box);
    cursor: pointer;
}

.recent-search-terms {
    padding: 10px 10px;
    margin: 5px;
    font-size: 18px;
    background: none;
    color: var(--text);
    text-shadow: none;
    border: var(--background);
    border: 2px;
    border-style: dotted;
}

.recent-search-terms:hover {
    text-shadow: 0 0 3px var(--text);
    cursor: pointer;
}


.btn:hover {
    /* font-weight: bolder; */
    color: var(--box);
    cursor: pointer;
    text-shadow: 0 0 3px var(--box);
}

#random-btn {
    background-color: var(--text);
    display: block;
    width: 100%;
    cursor: pointer;
}

#drop-btn {
    background-color: var(--text);
    padding: 16px;
    display: block;
    width: 100%;
    cursor: pointer;
}

#dropdown {
    position: relative;
    display: inline-block;
    
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
