@import url("foundation.css");
@import url("foundation-float.css");
@import url("foundation-prototype.css");
@import url("foundation-rtl.css");
/* Imported style sheets MUST be the first item listed. */

/* Reset styles. */

* {
    margin: 0;
    padding: 0;
}

/* Set variables. */

:root {
    --text: #ffff3d;
    --box: rgba(255, 0, 127, .5);
    --background: #00ccff;
}

/* General page element styles. */


html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header {
    background-color: var(--box);
    color: var(--text);
}

main {
    color: var(--text);
}

/* Footer Styles */

footer {
    color: var(--text);
    background-color: var(--box);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer h2 {
    font-weight: bold;
    font-size: 24px;
    color: var(--text);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
    margin-left: -35px;
    padding-right: 30px;
}

footer a {
    text-decoration: none;
    color: var(--box);
    float: right;
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 16px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--text);
    color: var(--box);
    border-radius: 15px;
    text-shadow: none;
    border: var(--background);
    border: 2px;
    border-style: dotted;
}

footer nav ul li a:hover {
    font-weight: bolder;
    color: var(--box);
}

/* Begin Custom Styles */

.hero-title {
    text-align: center;
    margin-bottom: 0rem;
}

.hero-img {
    background-image: url("../images/bg_recipes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.column-container {
    background-color: var(--box);
    /* backdrop-filter: saturate(180%) blur(1rem); */
    margin: 15px;
    padding: 15px;
}

.search-prompt {
    font-size: 1.2em;
}

#youtube {
    display: none;
}



/* Text input styles */
.notes-field {
    border-radius: 15px;
    height: 100px;
    width: 100%;
}

/* Button Styles */

.btn {
    padding: 5px 5px;
    font-weight: lighter;
    font-size: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--text);
    color: var(--box);
    border-radius: 15px;
    text-shadow: none;
    border: var(--background);
    border: 2px;
    border-style: dotted;
}

.btn:hover {
    font-weight: bolder;
    color: var(--box);
}

#random-btn {
    background-color: var(--text);
    padding: 16px;
    border: none;
}

#drop-btn {
    background-color: var(--text);
    padding: 16px;
    border: none;
}

#dropdown {
    position: relative;
    display: inline-block;
    
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
